@font-face {
  font-family: 'tabitha';
  src: url('/fonts/tabitha.ttf');
}
@font-face {
  font-family: 'sophia';
  src: url('/fonts/Sophia.ttf');
}
@font-face {
  font-family: 'sophia-right';
  src: url('/fonts/SophiaRight.ttf');
}
@font-face {
  font-family: 'sophia-left';
  src: url('/fonts/SophiaLeft.ttf');
}
@font-face {
  font-family: 'tangerine';
  src: url('/fonts/Tangerine_Bold.ttf');
}
@font-face {
  font-family: 'sansita';
  src: url('/fonts/Sansita-Regular.ttf');
}
@font-face {
  font-family: 'sansita-italic';
  src: url('/fonts/Sansita-Italic.ttf');
}
.select2-dropdown {
  display: none !important;
}

.select2 {
  color: black;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 4px !important;
}
.select2-container .select2-search--inline .select2-search__field, .form-control {
  font-size: 4vmin;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #66afe9 1px;
}
body {
  background-image: url("/images/beach-picture-22.jpg");
  background-attachment: fixed;
  font-size: 1vw;
	font-family: tabitha;
}

.content {
  width: 90%;
  margin: 10vmin auto;
  background-color: rgba(166,212,235,.7);
  min-height: 80vh;
  padding-bottom: 5vmin;
}

.header {
  height: 7vmin;
  display: flex;
}

.header__link {
  background-color: rgba(166,212,235,1);
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3em;
  cursor: pointer;
}

.header__link-active {
  border-bottom: 1vmin solid rgb(0,130,154);
}

.header__link:hover {
  background-color: rgba(166,212,235,.5);
}
.header__link a {
	color: rgb(0,130,154);
}

.header__link:hover a {
  text-decoration: none;
	color: rgb(0,81,98);
}

.centered {
  display: block;
  height: 50vmin;
  margin: 6vmin auto;
}
.clockdiv{
  min-width: 70%;
  margin:auto;
	font-family: tabitha;
	color: #fff;
	text-align: center;
	font-size: 3em;
  display: flex;
  margin-top: 3vmin;
  margin-bottom: 5vmin;
  justify-content: center;
}

.clockdiv > div{
	padding-bottom: 10px;
	border-radius: 25px;
	background: rgb(0,130,154);
	display: inline-block;
  margin: 10px 2%;
  font-size: 1.8em;
  font-style: italic;
  flex: 0 0 16vw;
  width: 16vw;
}

.clockdiv div > span{
	padding: 15px;
  width: 100%;
	border-radius: 25px 25px 0 0;
	background: rgb(0,81,98);
	display: inline-block;
	font-family: sansita;
  font-style: normal;
}

.smalltext{
	padding-top: 5px;
  font-size: .6em;
}

.fancy {
  font-family: sophia;
  text-align: center;
  font-size: 10em;
	color: rgb(0,81,98);
  margin-top: 5vh;
}

.fancy-medium {
  margin-top: 7vh;
  font-size: 5em;
  font-family: tabitha;
}


.fancy-small {
	color: rgb(0,130,154);
  font-size: 4em;
  font-family: sansita;
  margin-top: -2vmin;
}

.fancy-smally {
  line-height: 100%;
  text-align: left;
  width: 80%;
  margin: 3vh auto 0 auto;
  font-size: 2em;
  font-family: sansita;
	color: rgb(0,130,154);
}
.fancy-smally-dark {
  font-size: 3em;
	color: rgb(0,81,98);
  font-family: tabitha;
}

.dark-link {
	color: rgb(0,81,98);
}

.fancy-no-top {
  margin-top: 0 !important;
}

.fancy-tabitha {
	color: rgb(0,130,154);
  font-family: sansita;
  font-size: 4em;
  height: auto;
  margin: 3vh auto 0 auto;
  line-height: 115%;
}

form {
  width: 80%;
  margin: 5vmin auto;
  font-family: sansita;
}

.form-group {
  font-size: 2em;
  color: rgb(0,130,154);
  margin-bottom: 4vh;
}

.smally-form .form-control{
  font-size: 1em;
  
}

.form-control {
  height: auto;
}

.form-group label {
  font-size: 1.5em;
}

@media(min-width: 800px) {
  .form-group label {
    font-size: 1em;
  }
  .fancy-small {
    margin-top: -6vmin;
  }

  .fancy-smally{
    margin-top: 7vh;
  }
  .header__link {
    font-size: 2em;
  }
}

.image-row {
  display: flex;
  align-items: center;
  margin-top: 6vh;
}
.image-in-row3 {
  flex: 1;
  margin: 10px 5px;
  max-width: calc(33% - 10px);

}
.image-in-row4 {
  flex: 1;
  margin: 10px 5px;
  max-width: calc(25% - 10px);

}

.anecdotes {
  margin-top: 4vh;

}

.anecdote {
  margin: 40px 0;
  width: 100%;
}

.anecdote-name {
  font-size: 1.5em;
  display: block;
  margin-top: 20px;
  font-family: sophia;
	color: rgb(0,81,98);
}
