<div class="fancy">
  Who are we? You tell us!
</div>
<div class="image-row">
  <img class="image-in-row4" src="/images/gum-wall.jpg"/>
  <img class="image-in-row4" src="/images/amanda-throne.jpg"/>
  <img class="image-in-row4" src="/images/sean-croc.jpg"/>
  <img class="image-in-row4" src="/images/couple2.jpg"/>
</div>
<form method="post" class="smally-form">
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Share your favorite memory of Amanda and Sean!" name="anecdote"></textarea>
  </div>
  <div class="form-group">
    <input name="name" placeholder="Your name" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <div class="anecdotes">
    <% anecdotes.each do |anec| %>
      <div class="fancy fancy-smally anecdote">
        <%= anec.anecdote %>
        <span class="anecdote-name">- <%= anec.name %></span>
      </div>
    <% end %>
  </div>
</form>

