<div class="fancy fancy-smally fancy-smally-dark">
Hotel Information
</div>
<div class="fancy fancy-smally fancy-no-top">
  We will be staying at Paradisus Los Cabos All Inclusive Resort from November 9th-15th. We hope you will join us for all or part of our stay. <br/><br/>(Note to Wedding Party: There will be a wedding rehearsal on the afternoon of Friday, November 10. Please make sure you arrive in time!)
  <br/>
  <br/>
  We booked our room through the hotel website. 
  If you sign up for Melia Rewards BEFORE you book (which is free), you will be given 2000 points which you can then apply to your booking for about a $100 discount. 
  Sign up <a href="https://www.melia.com/en/meliarewards/registrate/home.htm" class="dark-link">here</a>.
  
  
  To apply the discount, go to the Paradisus website 
  <a href="https://www.melia.com/en/hotels/mexico/los-cabos/paradisus-los-cabos/index.html" class="dark-link">here</a>, log in to Melia Rewards, then enter the dates and search for rooms.
  Above the rooms, you should see an option to see prices in dollars and points. Select that option and it will apply the points to lower the prices.
  <br/>
  <br/>
  Because the Paradisus opened only about a month ago, the prices should be best the earlier you book. There is no room block or group rate. Here is the link to find out more about the hotel:
<a href="https://www.melia.com/en/hotels/mexico/los-cabos/paradisus-los-cabos/index.html" class="dark-link">Paradisus Los Cabos</a>.
  <br/>
  <br/>
You can also book your hotel and flight as a bundle through any travel site of your choice.
  <br/>
  <br/>
  We recommend that everyone book rooms in groups of two to save money. Please let us know if you need help finding someone who would like to split a room!
  <br/>
  <br/>
  AFTER BOOKING YOUR ROOM, PLEASE FILL OUT THE RSVP FORM <a class="dark-link" href="/rsvp">HERE</a>!
</div>
<div class="fancy fancy-smally fancy-smally-dark">
Passport Information
</div>
<div class="fancy fancy-smally fancy-no-top">
Mexico requires a passport to be at least 6 months from expiration. For current information on passport requirements, please visit:
<a class="dark-link" href="https://travel.state.gov/content/passports/en/passports.html">Passport Information</a>.
</div>
<div class="fancy fancy-smally fancy-smally-dark">
Airport Transfers
</div>
<div class="fancy fancy-smally fancy-no-top">
We recommend purchasing round-trip airport transfers prior to travel.
</div>
