<div class="fancy">♡Amanda & Sean♡</div>
<div class="fancy fancy-small">are getting married in:</div>
<div class="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
<div class="fancy fancy-tabitha fancy-no-top">Please join us at 4pm on November 11, 2017 at<br/> Paradisus Los Cabos in San José del Cabo, Mexico</br> for the wedding ceremony! A cocktail hour and reception will follow.</div>
<div class="image-row">
  <img class="image-in-row3" src="/images/couple1.jpg"/>
  <img class="image-in-row3" src="/images/fancy_trio.jpg"/>
  <img class="image-in-row3" src="/images/couple3.jpg"/>
</div>

<% content_for :javascript do %>
  <script>
    var deadline = new Date(Date.parse('Sat, 11 Nov 2017 23:00:00 GMT'));
    initializeClock('clockdiv', deadline);
  </script>
<% end %>
