<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Amanda and Sean</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css"/>
  </head>

  <body>
    <!-- a change was deployed 2-->
    <div class="content">
      <div class="header">
        <div class="header__link<%= request.path_info == "/" ? " header__link-active" : nil %>">
          <a  href="/">Home</a>
        </div>
        <div class="header__link<%= request.path_info == "/about_us" ? " header__link-active" : nil %>">
          <a href="/about_us">About Us</a>
        </div>
        <div class="header__link<%= request.path_info == "/wedding_party" ? " header__link-active" : nil %>">
          <a href="/wedding_party">Wedding Party</a>
        </div>
        <div class="header__link<%= request.path_info == "/booking" ? " header__link-active" : nil %>">
          <a href="/booking">Booking</a>
        </div>
        <div class="header__link<%= request.path_info == "/rsvp" ? " header__link-active" : nil %>">
          <a href="/rsvp">RSVP</a>
        </div>
      </div>
      <%= yield %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
      $(function(){
        $(".header__link").on("click", function(e){
          window.location = $(e.target).find('a').attr('href');

        })

      })
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93453088-1', 'auto');
      ga('send', 'pageview');

    </script>
    <%= yield_content :javascript %>
  </body>

</html>
