<% if message ||= nil %>
  <div class="flash">
    <%= message %>
  </div>
<% end %>
<form method="post">
  <div class="form-group">
    <label for="names">Name(s)</label>
    <select class="form-control" multiple name="names[]" placeholder="Thing"></select>
  </div>
  <div class="form-group">
    <label for="reservation_number">Paradisus Los Cabos Booking Reference Code</label>
    <input type="text" class="form-control" name="reservation_number"/>
  </div>
  <div class="form-group">
    <label for="arrival_date">Hotel Arrival Date</label>
    <input type="date" class="form-control" name="arrival_date">
  </div>
  <div class="form-group">
    <label for="departure_date">Hotel Departure Date</label>
    <input type="date" class="form-control" name="departure_date">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% content_for :javascript do %>
  <script>
    $("select").select2({
      tags: true,
      selectOnClose:true,
      minimumResultsForSearch: Infinity,
      placeholder: " Enter all names separated by commas",
      tokenSeparators: [',']
    })
  </script>
<% end %>
